[Interface]
Address = {{ client_ip }}
PrivateKey = {{ private_key }}
DNS = {{ dns_server }}

[Peer]
PublicKey = {{ public_key }}
Endpoint = {{ server_url }}:{{ server_port }}
AllowedIPs = {{ allowed_ips }}
